@charset "utf-8";
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'GmarketSansMedium'; 
    font-size: 16px; 
    color: #555;
    overflow-x:hidden;
    box-sizing: border-box;
}
#wrap {position: relative;width: 100%; min-height: calc(100vh - 300px);}

hr {margin: 100px 0;}

/* 탑 검색 상단 */
header { background: #dd2f3a;}
#header_top {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px; 
    text-align: center;
}
#header_top input { 
    margin: 0 auto;
    width: 700px;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    background: #dd2f3a;
    color: #fff;
    padding: 20px; 
    display: inline-block;
}
#header_top input::placeholder {color: #fff;}
#header_top .top_right { color: #fff; }
#header_top .top_right li {float: left; margin-left: 30px;}
.media_menu {width: 30px; height: 30px; margin-left: 10px; display: none;}
.media_menu img{max-width: 100%;}

/* 메뉴 */
#btm_shadow {box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3); background: #fff; height: 50px; padding: 10px 0; }
#header_btm {
    width: 1200px; 
    margin: 0 auto;
    box-sizing: border-box;
    background: #fff;
    
    
}
#header_btm .gnb > .left {
    width: 60%;
    float: left; 
    display: flex;
}
/* 왼쪽 큰 카테고리 메뉴 */
#header_btm .gnb > .left > .big {position: relative; width: 180px;}
#header_btm .gnb > .left > .big a{
    display: block;
    width: 100%;
    padding: 5px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;    
    overflow: hidden;
    text-align: center;
}
#header_btm .gnb > .left > .big a:hover {color: #dd2f3a;}
#header_btm .gnb > .left > .big:last-child{color: #dd2f3a;}

/*서브메뉴 */
#header_btm .gnb > .left > .big > .subb {
    position: absolute;
    left: 0; top: 48px;
    display: flex;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
#header_btm .gnb > .left > .big > .subb a {
    font-size: 16px;
    color: #777;
    font-weight: 400;
    margin-right: 40px;
}
#header_btm .gnb > .left > .big > .subb a:hover {background: #eee;}
#header_btm .gnb > .left > .big > .subb > .sub {
    display: none;
    padding: 20px;
    width: 150px;
    overflow: hidden;
    background: #fff;
    z-index: 20;
}
#header_btm .gnb > .right {
    display: flex;
    justify-content: right;
    text-align: right;
    width: 40%;
    
}
#header_btm .gnb > .right li {float: left;}
#header_btm .gnb > .right li:last-child{ margin-left: 25px;}

/* like-recipe */
.like-recipe { width: 1200px; margin: 0 auto; height: 100%; text-align: center;}
.like-text h2 {font-size: 40px; color: #333; margin: 50px 0; font-weight: 700;}
.like-recipe .now-page {text-align: right;}

/* 계량팁 */
.intro {
    font-size: 18px; 
    line-height: 28px; 
    color: #777; 
    text-align: center;
    margin-bottom: 100px;
}
.text > img {margin-top: 50px;}
.text > .red{font-size: 30px; color: #bf132b; margin-bottom: 20px; font-weight: 700;}
.text > .big {font-size: 24px; color: #333; font-weight: 700;}
.text > .gray{font-size: 20px; color: #777; margin-bottom: 50px;}
.imgList ul {display: flex; justify-content: space-between; text-align: left; }
.imgList ul li:last-child {margin-bottom: 100px;}
.imgList ul > li > .big {font-size: 20px; color: #333; font-weight: 500;}
.imgList ul > li > .gray {font-size: 16px; color: #777; }

.new-inner .imgBox { max-width: 100%; overflow: hidden;}
.new-inner .imgBox img {max-width: 100%;transition: all 0.2s linear;}
















/* footer */
#footer {
    position: relative;
    width: 100%;
    height: 20%;
    left: 0; bottom: 0;
    color: #fff;
    background: #A20A1F;
}
.f-inner { margin: 0 auto; width: 1200px;}
.footer_top {width: 1200px;}
#footer_bottom {background: #dd2f3a; height: 80%;}
.f-Binner {display: flex; width: 1200px; margin: 0 auto;}

#footer_top > ul {display: flex; padding: 10px;}
#footer_top > ul > li > a {display: block;font-size: 20px;padding: 10px;
}

.footer_left {width: 80%; padding: 10px;}
.footer_left p:first-child {margin-top: 20px; font-weight: 700;}
.footer_left p:last-child {margin-top: 50px; font-size: 14px;}
.f-Binner > .footer_right { width: 20%; padding: 10px;
}
.f-Binner > .footer_right > select {
    padding: 15px 30px;
    margin: 30px 0;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
}
.f-Binner > .footer_right > .sns {text-align: center;}
.f-Binner > .footer_right > .sns i {padding: 10px;}
.f-Binner > .footer_right > .sns img {width: 40px; height: 40px; filter: invert(100%);}

